html{
    background-image:url(../img/michael-sum-LEpfefQf4rU-unsplash.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


div{
    padding: 3px;
    border: 1px solid red;
    backdrop-filter: blur(0.4rem);
    background: #fafafa10;
}
